/Library/
/Temp/
/Obj/
/Logs/
/UserSettings/
/Builds/
*.sln
*.csproj
/Library/
/Temp/
/Obj/
/Logs/
/UserSettings/
/Builds/
*.sln
*.csproj
/Library/
/Temp/
/Obj/
/Logs/
/UserSettings/
/Builds/
*.sln
*.csproj
